html, body {
  height: 100%;
}

/* Reset button về mặc định để Tailwind kiểm soát hoàn toàn */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #fcf8ff;
  color: #1b1b23;
}

button {
  cursor: pointer;
  box-sizing: border-box;
}